body, html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;

	font-family: sans-serif;
	margin: 0;
	background-color: #1f1c1c;
	color: #e9e8ea;
}

body a {
	color: #e9e8ea;
}


#header {
	margin: 0;
	padding: 0.3rem 0.5rem;
	background-color: #232121;
	display: flex;
	flex-direction: row;
}

#header > img {
	flex: 0 1 40px;
	width: 40px;
}

#header > img + div {
	flex: 2 3;
}

#header > div:last-child {
	flex: 1 2;
	justify-content: end;
	display: flex;
	align-self: center;
	font-size: 2em;
	font-weight: bold;
}

#clock > #clock-s {
	font-weight: normal;
	font-size: 1rem;
	align-self: end;
	padding: 0 0 0.2rem 0.3rem;
	min-width: 1.25rem; /* hopefully enough to not move clock-hm */
}

div#interaction {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
}

div#controls {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #161414;
}

button>img, button>object {
	width: 2.5rem;
}

#loadform button>img, #subloadform button>img {
	width: 1.3rem;
	margin-bottom: -0.35rem;
}

#loadform button>img:hover, #subloadform button>img:hover {
	width: 1.4rem;
	margin: inherit -0.05rem;
}

div#playing {
	flex: 2 0 500px;
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 1rem;
}

div#browse {
	height: 100%;
	flex: 1 0 300px;
	display: flex;
	flex-direction: column;
	margin-left: 1em;
	margin-right: 1em;
}

div#browse h2 {
	margin-left: 1.2em;
}

div#browse li {
	margin-top: 10px;
	margin-bottom: 10px;
}

div summary {
	margin-left: 1.2em;
}

#playingname {
	font-size: 2.5em;
	margin: 0.5em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

div#loading {
	align-items: center;
	float: left;
	margin-left: 1.5em;
}

div#queue {
	height: 40%;
	overflow-y: auto;
	margin-top: 10px;
}

div#queue h2 {
	font-size: 1.2em;
	margin-bottom: -10px;
	margin-top: 30px;
	margin-left: 1.2em;
}

li {
	margin-left: 1.5em;
}

div#buttons {
	display: flex;
	padding: 1%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -17px;
}

#buttons > .spacer {
	width: 5rem;
	margin-right: auto;
	display: inline;
}

#speed {
	margin: 0 auto;
}

#extracontrol {
	margin-left: auto;
}

div#bar {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 0.8em;
	margin-bottom: 1%;
}

#seeker {
	width: 100%;
	margin-bottom: -5px;
}

div#buttons button, #loadform button, #subloadform button {
	background-color: rgb(0,0,0,0);
	font-size: 2rem;
	padding: 0;
	margin: 0;
	border: none;
}

div#buttons button:hover {
	cursor: pointer;
}

.spacer {
	width: 1rem;
	display: inline-block;
}

#seeker {
	-webkit-appearance: none;
	height: 6px;
	background-color: #f23269;
	margin-bottom: 3px;
}

#seeker::-moz-range-thumb {
	background: #e9e8ea;
}

#seeker::-webkit-slider-thumb {
	background: #e9e8ea;
}

#loopfile.active > img {
	filter: brightness(0) saturate(100%) invert(30%) sepia(76%) saturate(3347%) hue-rotate(325deg) brightness(98%) contrast(94%);
}

button > img:hover, #loopfile > img:hover {
	filter: brightness(0) saturate(100%) invert(30%) sepia(76%) saturate(3347%) hue-rotate(325deg) brightness(98%) contrast(94%) drop-shadow(1px 1px 2px #232121);
	width: 2.6rem;
	margin: -0.05rem;
}

.sr-only {
	display: block;
	width: 1px;
	height: 1px;
	margin-left: -1px;
	margin-right: -1px;
	overflow: hidden;
}

#time-progress[data-value]::after {
	content: " / ";
}
#time-remaining[data-value]::before {
	content: " / ";
}

#seeker-tooltip-wrapper {
	position: fixed;
	display: block;
	width: 1px;
	height: 1px;
	margin: -1px -1px 0 0;
}

#seeker-tooltip {
	/* TODO: style more */
	display: none;
	position: relative;
	background: black;
	height: 1rem;
	width: min-content;
	padding: 0.1rem 0.4rem;
	font-size: 1rem;
	top: -1.25rem;
	left: 1rem;
}

@media (max-width: 992px) {
	div#browse {
		height: 50%;
	}

	div#buttons {
		margin-bottom: 0px;
	}

	button > img {
		width: 3rem;
	}

	button > img:hover {
		width: 3.2rem;
	}

	body {
		font-size: 1.2rem;
	}
	
	h2 {
		text-align: center;
	}
}
